aiocoap==0.4.3.post0
alabaster==0.7.12
autoconf==2022.5.2.1
Babel==2.10.1
bitlist==0.7.0
cbor2==5.4.3
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
docutils==0.17.1
fe25519==1.2.0
filelock==3.7.0
fountains==1.3.0
ge25519==1.2.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.4
Jinja2==3.1.2
LinkHeader==0.4.3
MarkupSafe==2.1.1
mypy-extensions==0.4.3
packaging==21.3
parts==1.3.0
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
PyYAML==5.4.1
requests==2.27.1
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-argparse==0.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
termcolor==1.1.0
typing-extensions==4.2.0
typing-inspect==0.7.1
urllib3==1.26.9
websockets==10.3
zipp==3.8.0
