.header-title {
  font-weight: 800;
  font-size: large;
}

.header {
  flex-shrink: 0;
}

.header-no-hover:hover {
  background-color: inherit !important;
  color: inherit !important;
  cursor: auto !important;
}
